@import "../variables";

.admin-practice {
  &__page {
    background: #76A0E0;
    padding: 20px 50px;
    color: $white;

    &-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-1 {
      font-size: 22px;
    }

    &-2 {
      font-size: 22px;
    }
  }

  &__empty-block {
    margin: 35px 0;
    background: $white;
    padding: 40px 0;
    border-radius: 5px;

    box-shadow: 4px 4px 4px 0 #00000005;
  }

  &__progress-block {
    background: $white;
    padding: 13px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
    }
  }

  &__new-challenge-btn {
    background: #5fc44f;
    padding: 8px 15px;
    color: $white;
    border-radius: 3px;
    border: none;
  }

  &__progress-icon {
    width: 25px;
  }

  &__progress-title {
    font-size: 20px;
    margin-left: 5px;
    letter-spacing: 0.6px;
  }
}