@import "./header";
@import "./footer";
@import "./login";
@import "./register";
@import "./adminPractice";
@import "./modal";
@import "./challengeCard";
@import "./adminTeams";
@import "./table";
@import "./categoryFilter";
@import "./practice";
@import "./scoreBoard";